.about{
    background-color: #202020;
}
img.about__img{
    border-radius: 10px;
    width: 100%;
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-size: 38px;
}
button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}
a.bottom__to__top{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #f9004d;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
    transition: .4s all ease;
}
a.bottom__to__top.active{
    display: flex;
}
@media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px !important;
    }
}